.create-rule-button {
  float: right;
  position: relative;
  top: -3px;
  padding: 3px 10px;
  right: 5px;
}

.rule-index > table {
  font-size: 14px;
}

.rule-index > table tr:first-child th {
  border-bottom: 0;
}