<html>
  <head>
    <title>Requestly - Play with Network Calls</title>
    <link href="/src/libs/bootstrap.css" rel="stylesheet">
    <link href="/src/pages/css/index.css" rel="stylesheet">
    <link href="/src/pages/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <!-- All templates go here -->
    <script type="text/template" id="rule-editor-template">
      <nav class="rule-header rq-green">
        <span>Create Redirect Request Rule</span>
      </nav>
      <section class="rule-body">
        <div class="input-group name-container">
          <span class="input-group-addon">Rule Name</span>
          <input type="text" class="form-control rule-name-input" placeholder="">
        </div>

        <div class="description-container">
          <div>Rule Description (Optional)</div>
          <textarea class="rule-description" placeholder="e.g. Redirecting app.js on qa environment to dev environment"></textarea>
        </div>

        <div class="input-group source-container">
          <span class="input-group-addon">Source</span>
          <input type="url" class="form-control source-url-input" placeholder="e.g. http://www.yahoo.com/">
        </div>

        <div class="input-group destination-container">
          <span class="input-group-addon">Destination</span>
          <input type="url" class="form-control destination-url-input" placeholder="e.g. http://www.google.com/">
        </div>

        <div class="buttons-container">
          <a id="save-redirect-rule" class="btn btn-success">Save</a>
          <a href="#" class="btn btn-default">Cancel</a>
        </div>
      </section>
    </script>

    <script type="text/template" id="rule-index-template">
      <nav class="rule-header rq-dimgrey">
        <span>Rules</span>
        <span>(<%= rules.length %>)</span>
        <a href="#new" role="button" class="btn-success btn right create-rule-button">New Rule</a>
      </nav>
      <section class="rule-index">
        <table class="table table-striped">
          <thead>
            <tr><th>Name & Description</th><th>Type</th><th>Status</th><th>Created on</th></tr>
          </thead>
          <tbody>
            <% _.each(rules, function(rule, index) { %>
            <tr>
              <td>
                <div class="ruleName"><%= RQ.htmlEncode(rule.getName()) %></div>
                <div class="ruleDescription"><%= RQ.htmlEncode(rule.getDescription()) %></div>
              </td>
              <td><%= RQ.htmlEncode(rule.getRuleType()) %></td>
              <td><%= RQ.htmlEncode(rule.getStatus()) %></td>
              <td><%= RQ.htmlEncode(rule.getCreationDate()) %></td>
            </tr>
            <% }); %>
          </tbody>
          </table>
      </section>
    </script>

    <!-- End of templates sections -->

    <div class="header">
      <img src="/resources/images/48x48x32.png" class="icon-requestly">
      <span class="rq-white">Request</span>
      <span class="rq-blue">ly</span>
      <span class="rq-dash"> - </span>
      <span class="rq-line">Play with Network Requests</span>
    </div>

    <div class="content"></div>

    <!-- Load all scripts here  -->
    <script type="text/javascript" src="/src/libs/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/src/libs/underscore-1.6.0.js"></script>
    <script type="text/javascript" src="/src/libs/backbone-1.1.2.js"></script>

    <script type="text/javascript" src="/src/Shared/shared.js"></script>

    <!-- Backbone Models -->
    <script type="text/javascript" src="/src/pages/js/models/BaseRuleModel.js"></script>
    <script type="text/javascript" src="/src/pages/js/models/RedirectRuleModel.js"></script>

    <!-- Backbone Collections -->
    <script type="text/javascript" src="/src/pages/js/collections/RulesCollection.js"></script>

    <!-- Backbone Views -->
    <script type="text/javascript" src="/src/pages/js/views/RedirectRuleEditorView.js"></script>
    <script type="text/javascript" src="/src/pages/js/views/RuleIndexView.js"></script>

    <script type="text/javascript" src="/src/pages/js/app.js"></script>
    <script type="text/javascript" src="/src/pages/js/router.js"></script>
    <script type="text/javascript" src="/src/pages/js/init.js"></script>
  </body>
</html>